<h1>Blog Articles</h1>
<div>
  <a href="/">Home page</a>
</div>
<div style="margin-top: 16px;">
  <button type="button"><a href="/articles/new">New</a></button>
</div>
<% articles.forEach(article => { %>
  <div style="margin-top: 60px;">
    <h1><%= article.title %></h1>
    <h4><%= article.createdAt.toLocaleDateString() %></h4>
    <p><%= article.description %></p>
    <button type="button"><a href="/articles/<%= article.slug %>">Read More</a></button>
    <button type="button"><a href="/articles/edit/<%= article.slug %>">Edit</a></button>
    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </div>
<% }) %>